/* /* section navbarre */
.text-hover:hover{
    color: #837171 !important;
}
/* section hero************ */
.jumbotron{
    background-image: url("./images/frank-mckenna-R7YtoUH3x8Y-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.texte-hero{
    position: absolute; 
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-espacement{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.btn-hero{
    margin-left: 10px;
    
}
.card-title-size{
    font-size: 45px;
    color: #ffffff;    
}
.card-text-p{
    color: #ffffff;
    font-size: 30px;
}
/* section des points***** */
.titre-point{
    margin: 40px;
    color: #454545;
    font-size: 30px;
}
.card i{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 100px;
    color: #454545;
}
.card-item{
    border: none;
}
.card-text-detail, .card-title-detail{
    color: #454545;
}
/* section des prix */
.text-prix{
    margin: 30px;
}
.video-surf{
    width: 100%;   
}